body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding-top: 100px; /* يعطي مسافة من النافبار */
    padding-bottom: 100px; /* يعطي مسافة قبل الفوتر */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* يجعلها في المنتصف */
    text-align: center;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

    .header img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .header h1 {
        margin: 0;
        color: #333;
        font-size: 24px;
    }

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

    .input-container i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
    }

    .input-container input {
        width: 100%;
        padding: 10px 10px 10px 35px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

    button:hover {
        background-color: #45a049;
    }

p {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
