@model List<masterPiece.Models.Category>

@section Styles {
    <link rel="stylesheet" href="~/css/Category.css" />
}

<h2 class="category-title">Categories</h2>

<section class="category-container">
    @foreach (var Category in Model)
    {
        <div class="category-card">
            <img src="~/images/@Category.ImagePath" alt="@Category.Name" class="category-image" style="width: 100%;
    height: 220px;" />
            <h3>@Category.Name</h3>
            <p>@Category.Description</p>
            <a href="/Category/CategoryDetails/@Category.Id" class="view-btn">View products</a>
        </div>
    }
</section>
